Create-aspnet-app/Create-aspnet-app/obj
Create-aspnet-app/.idea
Create-aspnet-app/Tests/obj
Create-aspnet-app/Tests/bin
Create-aspnet-app/Create-aspnet-app/bin
Create-aspnet-app/Create-aspnet-app/nupkg
